# Prerequisites
*.d

# Compiled Object files
*.plo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build folder
build/
.cache/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE settings (Visual Studio Code, JetBrains, etc.)
.vscode/
.idea/
*.swp